    @media (max-width:485px) { 
        button.hero-button { 
	color: #26333C!important;
	font-family: Lato!important;
	font-size: 16px!important;
	font-weight: 900!important;
	letter-spacing: 0.6px!important;
	line-height: 32px!important;
	text-align: center;
	text-decoration:none!important;
}


        span.hero-call { display: block!important; } 
        
        section#main-section { padding-left: 25px!important; } 
        div#amountSeeking.container { padding-left:0px!important; padding-right:0px!important; } 
        
        .col-md-4.col-sm-6.col-xs-6.amount-btn { float:left!important; max-width:50%!important; width:50%!important; } 
        
        
        span.hero-mobile-title { font-family:Lato; font-weight: 500; font-size: 16px!important; line-height:24px!important; white-space:nowrap!important; } 
        
        
        .mobile-hero-title { font-size: 0px; } 
        span.hero-mobile-break { font-size: 28px!important; } 
        
        .col-xs-4 { width:85%!important; float:left!important; position:relative; display;block; text-align:left!important; margin-bottom:0px!important; } 
        
        section#main-section { min-height: 600px!important; } 
        
        
        
        
        
        .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { width:auto!important; } 
        
        
        
        
        
        .row { margin-left:25px!important; margin-right:25px!important; } 
        
        b.medium.formula { padding-top:12px!important; padding-bottom:12px!important; } 
        
        .formula { width:270px!important; height:47px!important; display:block!important; margin-left:auto; margin-right:auto; } 
        
        .container-fluid.whitebg.before-arrow .col { min-width:100%!important; }
        .inner-blue-box b { white-space:normal!important; } 
        b.blue-boxed-heading { white-space:nowrap!important; } 
       .loan-type-bottom-section a.clear-button { display:block!important; margin-left:-27%!important; margin-top:30%!important; } 
        
        .col-sm-6.box { margin-left: 0!important; width:100%!important; max-width:100%!important; } 
        
        .row {  margin-left:0px!important; margin-right:0px!important; } 
        section#whitearrow { display: none!important; } 
        .container-fluid.first.whitebg.sticky { display: none; } 
        b.medium { font-size:12px!important; } 
        img.img-padding { width: 270px!important; margin-top: 0px!important; display:block!important; float:inherit!important; height:205px!important; margin-left: auto!important; margin-right: auto!important; margin-bottom: -52px; margin-top: 30px!important; float:inherit!important; height: 207px; } 
        h2.heading { padding-top: 32px!important; } 
        .container-fluid.linearbg.after-arrow { padding-top: 50px!important; } 
        .col-sm-8.loan-bottom { margin-left:0px!important; } 
        img.loan-type-mini-icon { margin-left: 0px!important; } 
        .col-sm-4 { display:inline!important; } 
        .col-sm-8.loan-bottom { display: block; position: absolute; margin-left: 50px!important; } 
        .col-sm-8.loan-bottom b.medium { font-size: 18px!important; } 
        .col-sm-8.loan-boxed-bottom { display:inline!important; position: absolute;  margin-left: 0px!important; padding-left:45px!important; } 
        .container-fluid { padding-left: 0px!important; padding-right:0px!important; padding-bottom:32px!important;} 
        
        .inner-box { padding-top:32px!important; padding-left: 0px!important; padding-right: 0px!important; padding-bottom:32px!important; } 
        .col-sm-6.box { margin-top: 32px!important; } 
        .col-sm-6.blue-box { margin-left:20px!important; margin-right:20px!important; } 
        
        img.image-margin { display:block!important; width:214px!important; height:185px!important; margin-left:auto; margin-right: auto; margin-top: -59%!important; position:relative!important; } 
        .col-sm-6.blue-box { margin-left:auto!important; margin-right:auto!important; } 
        
        .col-sm-6.blue-box.pull-right { margin-top: 40%!important; } 
        .inner-blue-box { padding-top: 42px!important; padding-left:25px!important; padding-right:25px!important; padding-bottom: 32px; } 
        b.blue-boxed-heading { width: 200px; } 
        b.medium.formula { padding-left:0px!important; text-align: center; } 
        
        
        
        .fixed-top { display: none; } 
    }
    
    
     div#columns { justify-content:center!important; } 
   
    section#main-section { background: linear-gradient(193.49deg, rgba(251, 251, 251, 0) 0%, #080808 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg); background-position: 90% 90%!important; background-size:cover!important; } 
    
      @media (max-width: 1439px) and (min-width:1107px) { 
  .col-sm-6.box { margin-left:auto!important; } 
    .col-sm-6.blue-box { margin-left:auto!important; } 
    .row { margin-left:100px!important; margin-right:100px!important; } 
    .row.nomargin { margin-left: 0px!important; margin-right:0px!important; } 
            
      }
      
    
    
   
    
    @media (max-width:1106px) and (min-width:486px) { 
        
        .hero-form { text-align:left; float:left; } 
        span.hero-call { display: inline!important; } 
        
        .col-xs-4 { margin-top:15px!important; text-align:left!important; float:left; display:block!important; margin-bottom:0px!important; } 
        
        
        span.hero-mobile-title { font-size: 24px!important; display:block; padding-top:56px; position:relative; text-align:left; } 
        
        span.hero-mobile-break { float: left; font-size:48px!important; line-height:64px!important; font-family:Lato; font-weighT:300; text-align:left; width:573px; margin-top:-60px; } 
        
        
     .col-sm.loan-type { min-width: 340px!important; max-width: 340px!important; width:340px!important; }    
     .row { margin-left:40px!important; margin-right: 40px!important; max-width:768px!important; margin:0 auto!important; } 
        svg.whitearrow { display: none!important; } 
        .col { padding-left:0px!important; padding-right:0px!important; min-width: 100%!important;} 
    img.img-padding { margin-top: 30px!important; margin: 0 auto; margin-bottom:-68px!important; display: block; float:none!important; }     
    .formula { margin: 0 auto; } 
    h2.heading.white { padding-top:0px!important; } 
    .col-sm-6.blue-box { margin-left: auto!important; max-width: 339px!important;}
    .row.nomargin { margin-left: 0px!important; } 
    .col-sm-6.box { margin-left: auto!important; max-width: 339px!important;} 
    .col-sm-3 { display: none; } 
   img.image-margin { width: 268px!important; height: 231px!important; top: -53%!important; left:10%!important; } 
    .inner-blue-box b { white-space:normal!important; } 
    b.blue-boxed-heading { white-space:nowrap!important; } 
    h2.heading { padding-top:48px!important; } 
    .col-sm-6.blue-box { margin-top:48px!important; padding-top:48px!important; } 
    .inner-blue-box { padding-top: 0px!important; padding-left: 32px!important; padding-right: 32px!important; padding-bottom: 35px!important; } 
    .inner-box { padding-top: 32px!important; padding-right: 32px!important; padding-left: 32px!important; padding-bottom: 32px!important; } 
    h2#qualifications { margin-top: 38px!important; } 
    .col-sm-6.box.pull-right { margin-top: 48px!important; } 
.col-sm-9 { min-width:100%!important; } 
a.tab-link { white-space:nowrap; } 
    }
    
      @media (min-width:1107px) { 
    
    .col { max-width: 50%!important; } 
      }
    
    
    
    
/*LOAN TYPE LANDING HERO CHANGE */
div#columns { max-width: 1399px!important; margin:0 auto!important; } 
.col-sm.loan-type { min-width: 342px!important; max-width: 342px!important;} 



section#main-section { min-height: 745px; margin: 0 auto; max-width:1440px; } 
.stepTitle { padding-top:0px!important; } 
svg#load { position: relative; } 
div#business-time1 { margin:0!important; display:inline!important; float: left; } 
div#business-time2 { margin:0!important; display: inline-block!important; } 

.col-md-4.col-sm-6.col-xs-6.amount-btn { max-width:33.3%; display:inline-block!important; } 
.hero-button { width: 126px!important; } 
.hero-form { text-align:left; } 
.small-title-desktop-new { font-size: 48px!important; line-height: 64px; font-family: Lato; font-weight: 300; max-width: 630px; height:192px; } 
.col-xs-4 { margin-bottom: -75px; margin-top: 50px!important;} 
div#amountSeeking.container { max-width:100%; } 

/* JASON CSS EDITS */
h1 { font-family: Lato; font-weight:300; color:#FFFFFF; font-size: 24px; line-height: 24px; text-align: left; } 
nav {
  white-space: nowrap;
  background: #37474F;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  nav ul {
    position: sticky;
    top: 0;
  }
}
nav ul li a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
nav ul li a.current {
  background: black;
}


#loan-types {
    position: absolute;
    top: 800px;
}


#top-menu a:hover {
    color: #000;
}

#top-menu li.active a {
    border-top: 3px solid #333;
    color: #333;
}


#about {
    position: absolute;
    top: 400px;
}

html {
  scroll-behavior: smooth;
}
.col-sm-12.navigation { padding-left: 0px; padding-right: 0px; } 
ul#top-menu { list-style: none; padding-left:0px; text-align: center;} 
li { display: inline-block; width: 16.5%; } 
#top-menu { color: red; font-weight: 900; font-family: Lato; text-decoration:none; line-height:24px;  } 





/* HERO TABLET FIX */


@media (max-width: 991px) and (min-width: 800px) { 
    .wpb_single_image.wpb_content_element.vc_align_left.fc-360-logo { margin-left: 10%!important; } 
    
} 

@media (min-width: 992px) and (max-width: 1003px) { 
    .hero-mobile-title { padding-top: 71px!important; font-size: 29px!important; line-height: 32px; font-family: 'Lato' sans-serif; color:#fff; text-align:left; font-weight: 300; } 
     span.hero-mobile-break  { font-family: 'Lato' sans-serif; color:#fff; text-align: left; font-size: 16px; line-height: 24px; font-weight: 500; display: block; } 
    .mobile-heading { margin-top: 30px; } 
} 


@media (min-width: 1268px) { 
  .amount-btn { width:300px!important; margin-left:10px; margin-right:10px; }   
} 
@media (min-width: 993px) and (max-width: 1267px) { 
.vc_column_container.vc_col-sm-8.vc_custom_1538505580894.mpc-column { padding-left: 0px!important; } 
.menu { margin-right: 20%!important; } 
div#amountSeeking { margin-left: 15%!important; } 
.wpb_single_image.wpb_content_element.vc_align_left.fc-360-logo { margin-left: 20%!important; } 
div#testimonials { padding-left: 100px!important; padding-right:100px!important; } 
.footer-landing { padding-left: 100px!important; padding-right: 100px!important; } 
.hr-block { padding-left: 10%!important; padding-right: 10%!important; } 
.amount-btn { width: 280px!important; margin-left:10px; margin-right:10px; } 
 }


.btn-primary:hover, .button:hover, input.submit:hover, input[type="submit"].btn-primary:hover, input[type="submit"].button:hover, input[type="submit"].submit:hover, .btn-primary:active, .button:active, input.submit:active, input[type="submit"].btn-primary:active, input[type="submit"].button:active, input[type="submit"].submit:active, .btn-primary:focus, .button:focus, input.submit:focus, input[type="submit"].btn-primary:focus, input[type="submit"].button:focus, input[type="submit"].submit:focus {background-color: #8bd22d; }  

button.hero-button:visited, button.button:visited { background-color: #8bd22d; } 



@media (min-width: 485px) and (max-width: 1024px) {
    
    .timeinbusiness-btn { width: 100%; margin:0 auto!important; display: block; } 
    
}

@media (min-width: 992px) and (max-width: 1500px) 
{
#hero-background  {background: linear-gradient(193.49deg, rgba(251, 251, 251, 0) 0%, #080808 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg); background-position: 90% 90%!important; background-size:cover!important; } 
.col-md-6.form-wrapper { margin-left: -15px; } 
}

@media (min-width: 1501px)
{
#hero-background  {background: linear-gradient(193.49deg, rgba(251, 251, 251, 0) 0%, #080808 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg); background-position: 84% 65%!important; background-size:cover!important; } 

}

@media (min-width: 1px) and (max-width: 385px) 
{
    div#hero-background { background: linear-gradient(193.49deg, rgba(101, 101, 101, 0.5) 0%, #080808 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg); background-position: 65% 0px!important; background-size: cover!important; } 
    
}

@media (min-width: 1px) and (max-width: 385px) 
{
    div#hero-background { background: linear-gradient(193.49deg, rgba(101, 101, 101, 0.5) 0%, #080808 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg); background-position: 65% 0px!important; background-size: cover!important; } 
    
}

@media (min-width: 386px) and (max-width: 991px) 
{ 
    div#hero-background {background: linear-gradient(193.49deg, rgba(101, 101, 101, 0.5) 0%, #080808 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg); background-position: 59% 0%!important; background-size:cover!important; } 
    
}



@media (min-width: 486px) and (max-width:991px) {

button.hero-button:hover, button.button:hover { background-color: #8bd22d; }     
     .timeinbusiness-btn:hover{
    background:#8CC63F!important;
    cursor:pointer;
  }

  .personal-btn:hover{
    background:#8CC63F!important;
    cursor:pointer;
  }
  
    .hero-spacing { height: 32px!important; } 
    .wpb_single_image.wpb_content_element.vc_align_left.fc-360-logo { margin-left: 15px; } 
    .col-md-12 { padding-left:0px!important; padding-right:0px!important; } 
    .fa-navicon:before, .fa-reorder:before, .fa-bars:before { font-size: 20px; color: #fff; } 
    .wpb_single_image.wpb_content_element.vc_align_left.fc-360-logo { width: 200px; height: 19px; } 
    
    .stepTitle { padding-top: 0px!important; } 
    .col-xs-12 { text-align:center!important; } 
    img.trust-img-lp-2 { padding-left:5px!important; position:relative; margin: 0 auto!important; padding-top: 15px; } 
    
    .shiftnav .fa, .shiftnav-toggle .fa { font-family: FontAwesome!important; } 
    .fa { font-family:FontAwesome!important; } 
.shiftnav-toggle-button { background: none; }     
span.hero-call a { font-size: 18px; font-weight: bold; color:#78B625!important; } 
span.hero-call { display:block; margin-top:-30px!important; color:#ffffff!important; font-weight: bold; font-size: 16px; } 

.hero-button { height:49px; width:219px; border-radius:4px; background-color:#8CC63F; border:0px!important; margin-top: 40px; margin-bottom:40px;} 

button.hero-button { 
	color: #26333C!important;
	font-family: Lato!important;
	font-size: 16px!important;
	font-weight: 900!important;
	letter-spacing: 0.6px!important;
	line-height: 32px!important;
	text-align: center;
	text-decoration:none!important;
}
    

    .mobile-hero-title.mobile-heading { color:#fff!important; } 
    span.hero-mobile-title { font-size:48px; line-height:48px; color:#fff!important; font-weight:300!important;   } 
    span.hero-mobile-break { font-size:16px; line-height: 0px; } 
 
    
    
    .works-section p { padding-left: 25px; padding-right: 25px; } 
    p { color: #495863!important; font-size: 16px!important; line-height: 24px!important; } 
h3.loan-types-heading { font-size: 24px; color: #024B8B; font-weight: normal!important; margin-top: -20px; margin-bottom: -20px; } 
img.loan-type-svg { margin: 0 auto; display:block; } 
    * { outline: 0; }
    .button { height:49px; width:219px; border-radius:4px; background-color:#8CC63F; border:0px!important; } 
    button.button { 
	color: #26333C!important;
	font-family: Lato!important;
	font-size: 16px!important;
	font-weight: 900!important;
	letter-spacing: 0.6px!important;
	line-height: 32px!important;
	text-align: center;
	text-decoration:none!important;
}
}


@media (min-width: 992px) { 
    
    
    .business-owner-btn { padding-bottom:110px!important; } 
    
    .hr-block { padding-left: 250px; padding-right:250px; } 
    .copyright { color:#fff!important; font-size:14px!important; } 
    .center-row { padding-left:260px; padding-right: 260px; } 
.hide-desktop { display: none; } 




* {
    
    outline: 0; 
    
}



.main-container { min-width:120%; margin-top: 40px; } 


.yurr { background: linear-gradient(193.49deg, rgba(33, 35, 37, 0.51) 0%, #1b2227 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg)!important; background-position: 90% 90%!important; background-size:cover!important; } 


#businessOwner.sheet { display: none!important; } 
#businessOwner .sheet { display:none!important; } 
.sheet { display:none!important; } 

.make_me_blue{
  background-color: blue !important;
}

.col-xs-12 { text-align:center!important; }
img.trust-img-lp { padding-left: 12px; padding-right:12px;  }
img.trust-img-lp-1 { padding-left: 12px; padding-right:12px; padding-top:150px; }
img.trust-img-lp-3 { padding-left: 12px; padding-right:12px;  padding-top:194px;  }
img.trust-img-lp-2 { padding-left: 12px; padding-right:12px;  padding-top:10px;  }



button.hero-button:hover, button.button:hover { background-color: #8bd22d; } 
.col-xs-4 { padding:0px!important; } 


span.hero-call { font-weight: 900; color: #fff; margin-left: 16px; } 
a.hero-phone { font-weight: bold!important; color:#78B625!important; font-size:18px; padding-top:5px!important; } 

div#amountSeeking { margin-left:250px; } 

img.trust-img { padding-right: 24px; margin-bottom:120px; } 

span.button:hover { background-color: #8cc63fd4; } 

.submitBtn { max-width: 225px!important; height: 50px!important; } 

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.form-group { margin-bottom:9px!important; } 
.amount-row { margin: 0 auto; } 


div#business-time1 { padding-right:10px; } 
div#business-time2 { padding-left:10px; }
.timeinbusiness-btn:hover { border: 1px #8CC63F solid; 	color: #495863;} 


.menu { float: right; margin-right: 250px; } 


h3.loan-types-heading { margin-bottom:11px!important; } 

.main-content.col-md-12 { background-color:#f5f8f8; } 
section.vc_section.vc_custom_1538664601821.vc_section-has-fill { max-width:940px!important; margin:0 auto!important; } 

.center-row { max-width:1500px!important; margin:0 auto!important; } 

section#main-section {	background:  linear-gradient(193.49deg, rgba(73,88,99,0) 0%, #495863 100%),  url(http://67.225.129.230/~dev/loan-types/images/working-capital-hero.jpg)!important;  background-position:60%85%!important;background-size:1727px 1140px!important;background-repeat:no-repeat!important; background-color:red!important; }  
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li { margin-bottom:0px!important; } 

.menu-item a:hover { 
 color:#26333C!important;
 padding-top:5px;
 padding-bottom:7px;
 border-radius:4px;
 text-decoration:none;
}


.menu-item {
    color: #fff!important;
    font-size: 16px;
    line-height: 24px;
    font-family: Lato!important;
    text-shadow: 0 1px 2px 0 rgba(0,0,0,0.21);
    padding-left: 13px!important;
    padding-right: 13px !important;
    white-space: nowrap;
    transition: all 0.1s ease-in;
}
.menu-item:hover{
    background: #8CC63F;
    padding: 10px;
    border-radius: 4px;
    color:#26333C!important;
}



.menu-item a { color:#fff!important; } 

.button { height:49px; width:219px; border-radius:4px; background-color:#8CC63F; border:0px!important; } 
.hero-button { height:49px; width:219px; border-radius:4px; background-color:#8CC63F; border:0px!important; margin-top: 40px; margin-bottom:40px;} 

button.hero-button { 
	color: #26333C!important;
	font-family: Lato!important;
	font-size: 16px!important;
	font-weight: 900!important;
	letter-spacing: 0.6px!important;
	line-height: 32px!important;
	text-align: center;
	text-decoration:none!important;
}


button.button { 
	color: #26333C!important;
	font-family: Lato!important;
	font-size: 16px!important;
	font-weight: 900!important;
	letter-spacing: 0.6px!important;
	line-height: 32px!important;
	text-align: center;
	text-decoration:none!important;
}
}





/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}




    /* BOOTSTRAP CSS START */





section#whitearrow { max-width: 1440px!important; margin: 0 auto;  } 
body { background-color:#f3f3f3!important; } 
    
.container-fluid.first.whitebg.sticky {
position: sticky; top: 0; z-index: 9999999; max-width: 1440px;
    
}
.col-sm-8.loan-bottom { color: #495863; } 


.container-fluid.whitebg.before-arrow { padding-bottom: 35px; max-width: 1440px; } 
.container-fluid.linearbg.after-arrow { padding-top: 100px; max-width: 1440px; } 
section#whitearrow { background: none; padding:0!important; } 

svg.whitearrow{
  position:absolute;
  bottom:-10px; left:0;
  width:100%; height:100px;
  display:block;
  fill: #ffffff;
  top: 0px;
}


svg{
  position:absolute;
  bottom:-10px; left:0;
  width:100%; height:100px;
  display:block;
  fill: #ffffff;
}


    b.medium.formula { padding-top: 20px; padding-left: 37px; display: block;} 
    .formula { width: 445px; height: 68px; background-color: #f5f8f8; } 

    img.img-padding { margin-top: 80px; float:right; }
    img.image-margin { position: absolute; top: -69%; } 
    img.medium-icon { display: block; margin: 0 auto; margin-bottom: 32px; } 
         /*TEXT */ 
   
        body { background-color:#ffffff; } 
        .row { margin-left: 167px; margin-right: 167px; max-width: 1440px;} 
        p { font-family:Lato; font-size: 16px; line-height:24px; color:#495863;  } 
        p.white { color:#ffffff!important; } 
        h2.heading.white { color:#ffffff; } 
        h2 { font-family:Lato; color:#024B8B; font-size: 32px; font-weight:bold; line-height:40px; } 
        h3 { font-family:Lato; font-size: 24px; line-height:32px; color:#024B8B; }
        h2.heading { padding-top:80px; } 
        
        /* LAYOUT */ 
        .container-fluid { padding-bottom: 80px; } 
        .container-fluid.whitebg { background-color:white; max-width: 1440px; } 
        .container-fluid.greybg { background-color: #f5f8f8; max-width:1440px; } 
        .container-fluid.first { padding-bottom: 0px; } 
        .container-fluid.linearbg { 	background: linear-gradient(227.33deg, #398BD2 0%, #024B8B 100%); } 
        a.tab-link { text-decoration:none; font-weight: 900; font-family:Lato; color:#78B625; font-size: 16px; line-height: 24px; display:block; padding-bottom:18px; } 
        .col-sm-2.tab { border-bottom: 1px solid #D2D6D8; } 
        
        /* LOAN TYPES BOX */
        .loan-type-bottom-section { padding-top: 45px; } 
        b.medium { font-size: 18px; color: #024B8B; font-weight: bold; font-family: Lato; } 
        .col-sm-8.loan-bottom { margin-left: -55px; } 
        .col-sm-8.loan-boxed-bottom { margin-left: -65px; } 
        img.loan-type-mini-icon { margin-left: -25px; } 
        img.loan-type-icon { margin-top: 64px; margin-bottom: 16px; }
        hr { border-top: 2px solid #D2D6D8; } 
       h3.loan-type-heading { color: #78B625; } 
       .loan-type-inner { padding-left: 25px; padding-right: 25px; } 
        .col-sm.loan-type { background-color:#ffffff; margin: 4px; } 
        .col-sm.loan-type.nobg { background-color: #ff000000; } 
        
        .row.nomargin { margin-left: 0px; margin-right: 0px; } 
        
        
        /* BOX WITHIN LAYOUT */ 
        p.loan-type-content { max-height: 170px; padding-top:15px; margin-bottom:40px; } 
        .col-sm-6.box { background-color:#F5F8F8; max-width: 440px; max-height:370px; margin-top: 80px; margin-left: auto; } 
        
         .col-sm-6.blue-box { background-color:#E8F1F8; max-width: 440px; max-height:370px; margin-top: 80px; margin-left: auto; } 
               
        .inner-box { padding-top: 48px; padding-left: 48px; padding-right: 48px; padding-bottom: 48px; } 
        
         .inner-blue-box { padding-top: 76px; padding-left: 48px; padding-right: 48px; padding-bottom: 48px; } 
        
        .inner-box b, .inner-blue-box b{ color: #495863; font-size: 18px; line-height: 24px; font-family: Lato; } 
        
        .inner-blue-box b { white-space:nowrap; } 
        span.list { color:#78B625; font-weight: 900; font-family:Lato; font-size: 16px; line-height:24px; } 
        span.list a { color:#78B625;  }
          b.blue-boxed-heading { font-size: 16px; color: #024B8B; font-weight: 900; line-height: 24px; display:block;padding-top: 16px; font-family: Lato; white-space:nowrap;} 
          
                b.boxed-heading { white-space: nowrap; font-size: 16px; color: #78B625; font-weight: 900; line-height: 24px; display:block;padding-top: 16px; font-family: Lato;} 
                
                
          img.loan-type-boxed-icon { margin-left: -15px; margin-top: 16px; } 
          
          
          a.clear-button { text-decoration: none; font-weight: bold; color:#78B625; font-size: 16px; line-height:24px; font-family:Lato; border: 2px solid #8cc63f; padding-top: 12px; padding-bottom: 14px; border-radius: 8px; min-width: 140px; padding-left: 46px; padding-right: 46px; margin-left:-5px; margin-bottom:32px; margin-top:40px; } 
          
        
        
        /* HERO CTA CHANGES */
        
        div#amountSeeking.container { margin-left: 0px!important; } 
        section#main-section { background-color: black!important; background-size: cover!important; } 
        
        
        