#hero{
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      #2b292969, 
      #32768669
    ),
    /* bottom, image */
    url('/wp-content/themes/porto/images/shutterstock_634282571.jpg') fixed;
	/*background: url('images/hero-bg.jpg');*/
	background-size:cover;
	height:550px;
  background-position-y: 25%; 

}

.hero-title{
  text-shadow: 0px 2px 1px rgb(53, 53, 53);
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	color:#fff;
	font-size:40px;
	text-align:center;
	line-height:40px;
	text-transform:uppercase;
	padding-top:290px;
  padding-bottom: 10px;
}

.hero-title-mobile{
  display: none;
}

.hero-sub-text{
	font-family: 'Roboto', sans-serif;
	font-weight:600;
	color:#203158;
	font-size:17px;
	text-transform:uppercase;
	text-align:center;
  padding: 20px 0 30px;
}

.hero-sub-text-mobile{
  display: none;
}


.form-container{
  z-index: 9;
	background:#FFF;
	height:auto;
	margin:0px 100px 0;
	display:block;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.44);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.44);
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.44);
}

.slider-title{
  text-align: right;
  float: right;
  margin-top: 1.25em;
	color:#333;
	font-size:15px;
	font-weight:700;
}

.slider-container-wrapper{
	padding:20px;
}

.field-container{
	padding:35px 20px;
	background:#cfcfcf;
}

.field-container .col-md-4 {
  background: #cfcfcf;
}

.submit-btn{
	width:100%;
	display:block;
	margin:0 auto;
	background:#8cc63f;
	color:#FFF;
	text-transform:uppercase;
	font-weight:600;
}

.how-it-works-title{
	font-weight:bold;
	color:#333;
	text-transform:uppercase;
	font-size:20px;
}

span.step {
  background: #8CC63F;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
  font-size:20px;
}


#annual-rev {
  margin-bottom: 25px;
}

.range-slider {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.range-slider > input {
  opacity: 0;
  width: 100%;
  position: relative;
  z-index: 5;
  -webkit-appearance: none;
  padding-bottom:10px;
}
.range-slider > input::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 100;
  position: relative;
  width: 50px;
  height: 30px;
  -webkit-border-radius: 10px;
}
.range-slider > div.slider-container {
  min-height: 110px;
  display: inline-block;
  position: absolute;
  left: -8px;
  right: 46px;
  z-index: 3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top:-35px;
}
.range-slider > div.slider-container > div.bar {
  background-color: #cfcfcf;
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 10px;
  right: -42px;
  height: 11px;
  overflow: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.range-slider > div.slider-container > div.bar > div {
  background: #8CC63F;
  display: inline-block;
  float: left;
  height: 11px;
  width: 0%;
}
.range-slider > div.slider-container > div.bar-btn {
  display: inline-block;
  position: absolute;
  width: 46px;
  height: 30px;
  padding-top: 8px;
  font-weight: bold;
  text-align: center;
  background: transparent;
  left: -25px;
  top: -65px;
}
.range-slider > div.slider-container > div.bar-btn:after {
  content: "";
  border: 2px solid #fff;
  background-color: #e2e2e2;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 73px;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.range-slider > div.slider-container > div.bar-btn > div:before {
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 39px;
  left: -2px;
}
.slider-num{
	margin-top:40px;
	margin-right:10px;
}


#how-it-works{
	padding:200px 0 80px;
}

#graphs{
	 background:url('https://www.fastcapital360.com/wp-content/uploads/2017/11/video-banner-bg.png');
  background-size:cover;
	color:#FFF;
	padding:80px 0;
}
.graph-text{
	color:#FFF;
/*	float: right;
    position: absolute;
    margin-left: 540px;*/
}

.graph-cont{
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position:relative;
  z-index:9009;
}
.bar-title{
	font-weight:600;
	text-transform:uppercase;
}
.bar-graph{
  height: 30px;
  max-width: 800px;
  margin: 0 auto 10px auto;
  line-height: 30px;
  font-size: 16px;
  color: white;
  padding: 0 0 0 10px;
  position: relative;
  border-radius:3px;
  font-weight:bold;
}
.bar-graph::before{
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  height: 30px;
  top: 0;
  z-index: -2;
  background: #ecf0f1;
  border-radius:3px;
}
.bar-graph::after{
	border-radius:3px;
  content: '';
  background: #2ecc71;
  height: 30px;
  transition: 0.7s;
  display: block;
  width: 100%;
  -webkit-animation: bar-graph-before 1 4.8s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.bar1::after{
  max-width: 92.4%;
  background:#17a2b8 !important;
}
.bar2::after{
  max-width: 72.3%;
  background:#8CC63F !important;
}
.bar3::after{
  max-width: 98%;
  background:#FF6018 !important;
}
.bar4::after{
  max-width: 20%;
}
@-webkit-keyframes bar-graph-before{
  0%{
    width: 0px;
  }
  100%{
    width: 100%;
  }
}

.how-cont{
  width: calc(100% - 40px);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
code {
  padding: 5px;
  background: #ecf0f1;
  display: block;
}
pre{
  padding: 0;
  margin: 0;
}

#trust-pilot{
	padding:50px 0;
}

@media (max-width: 768px){
    .hero-title {font-size: 20px; line-height: 30px;}
    .slider-title {float: none; text-align: left;}
    .form-container {margin: 0 20px!important;}
    .hero-sub-text-mobile{display:none;font-family: 'Roboto', sans-serif;font-weight:600;color:#203158;font-size:17px;text-transform:uppercase;text-align:center;padding-bottom: 10px;}
    .hero-sub-text{display: none;}
    .hero-title-mobile{display:inherit;text-shadow: 0px 2px 1px rgb(53, 53, 53);font-family: 'Roboto', sans-serif;font-weight:300;color:#fff;font-size:30px;text-align:center;line-height:40px;text-transform:uppercase;padding-top:50px;padding-bottom: 10px;}
}

@media (max-width: 1024px){
  .form-container {width: 90%;margin: 0 40px;}
}

@media screen and (max-width: 1199px){
  .content-lp {width: 100%!important;}
}