.int-head-cta-title{
    font-family: 'Roboto Slab', serif;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 10px !important;
    font-size:32px !important;
}

.int-head-cta-cont{
	background: linear-gradient(135deg,#3b5da9 20%, #2997f7 80%) !important;
	padding-bottom:50px !important;
	padding-top:160px !important;
}

.int-head-cta-subtext{
	text-align:left;
	line-height:20px;
	font-family: 'Roboto Slab', serif;
	font-size:20px;
	color:#FFF;
}

.int-head-cta-form-text{
	font-family: 'Roboto Slab', serif;
	color: #FFF;
	font-size: 16px;
	padding:0px 0px 19px 10px;
	text-align:center;
}

.int-head-cta-form-wrap{
    height: 150px;
    width: 100%;
    border-radius: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: -15px;
    background-color: #fff1;
    padding:20px;
}

.int-head-cta-from-container{
	margin-top:-50px !important;
}

.int-head-cta-btn{
	font-size:12px !important;
}

.int-head-cta-field{

}


@media all and (max-width: 1503px) { 

.int-head-cta-field::-webkit-input-placeholder {
  font-size:12px;
}

}

@media all and (max-width: 1295px) {

.int-head-cta-btn{
	font-size:10px !important;
}

.int-head-cta-field::-webkit-input-placeholder {
  font-size:10px;
}

 }

@media all and (max-width: 990px) { 

	.int-head-cta-title-wrap{
	margin-bottom:50px;
	}
	.int-head-cta-title{
		text-align:center;
	}

	.int-head-cta-subtext{
		display:none;
	}

	.int-head-cta-cont{
		padding-top:110px !important;
		padding-bottom:20px !important;
	}

	.int-head-cta-form-wrap{
		background-color:transparent;
	}

	.int-head-cta-form-text{
		display:none;
	}

.int-head-cta-btn{
	font-size:12px !important;
}

.int-head-cta-field::-webkit-input-placeholder {
  font-size:14px;
}
	 }