#footer,
.footer-top {
    background-color: #f7f7f7!important
}

.ubermenu.ubermenu-main.ubermenu-horizontal .ubermenu-item-level-0.ubermenu-active>.ubermenu-submenu-drop,
.ubermenu.ubermenu-main.ubermenu-horizontal:not(.ubermenu-transition-shift) .ubermenu-item-level-0>.ubermenu-submenu-drop {
    margin-top: 21px!important
}

.ubermenu.ubermenu-disable-submenu-scroll .ubermenu-item>.ubermenu-submenu.ubermenu-submenu-type-mega {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px
}

#footer .list.list-icons a {
    color: #6d6f7b
}

.list.list-icons li .fa {
    color: #2997f7!important
}

#footer h6 {
    color: #6d6d7b!important;
    font-weight: 500!important
}

#footer a,
#footer p {
    color: #6d6f7b!important
}

.vc_custom_1535644851887 {
    background-color: rgba(148, 148, 148, .08)!important
}

#footer .aio-icon-component i,
#footer .align-icon i {
    color: #828282!important
}

.slick-slider .slick-dots li.slick-active i,
.slick-slider .slick-dots li:hover i {
    color: #2997f7!important
}