/* APPLY NOW MOBILE BUTTON HAMBURGER */

a.mobile-button-container {  
    position: fixed;
top:22px;
padding-left: 10px!important; 
padding-right: 10px!important;
	color: red!important; 
	width: 60px; 
	display: inline-block;
	 height:25px !important;
  border-radius:20px !important;
  color: #fff!important;
  background:#8CC63F !important;
  border:1px solid #8CC63F !important;
  font-weight:bold !important;
  z-index:9!important;
  margin-left: 65%;
}


/* MOBILE MENU CHANGES */

.taptap-by-bonfire .menu li span { display: none; } 
.taptap-by-bonfire .sub-menu a { font-family: Lato; font-weight: 300!important; font-size: 17px!important; padding-left:50px!important; }
.taptap-by-bonfire ul li a { font-weight: 400!important; font-size: 22px!important; color: #fff!important; padding-left: 25px!important; font-family: Lato!important;  } 
.taptap-image img { max-width:175px!important; margin-top: 7px!important; float: left; margin-left: 20px!important; } 
.taptap-image { border-bottom: 1px solid rgba(255,255,255,.1); height: 60px; } 
.taptap-by-bonfire { margin-top: 5px!important; } 
.taptap-menu-button-wrapper.taptap-menu-active { margin-right: 10px; }
.taptap-menu-button-wrapper.taptap-menu-active .taptap-main-menu-button:before { background-color: white!important; } 
.taptap-menu-button-wrapper.taptap-menu-active .taptap-main-menu-button:after { background-color: white!important; } 
.taptap-by-bonfire .menu { margin-top: 15px!important; }
.taptap-widgets-wrapper { position: relative; padding-top: 20px; margin-top: 60px!important; width: 80%; margin: 0 auto; }

/* .taptap-widgets-wrapper { position: relative; background-color: white!important; padding-top: 20px; margin-top: 60px!important; width: 80%; margin: 0 auto; border-radius:25px; } */
/* .taptap-background-color { background-color: #2285ff!important; opacity: 0.8!important; }  */ 
.taptap-background-overlay-active { background-color: #1d3663!important; opacity: 0.6!important; z-index: 99999!important; } 

/* .mobile-loan-button { background-color:#fff!important; height: 50px!important; padding-top: 5%; padding-bottom: 5%; padding-left: 25%; padding-right: 25%; border-radius: 25px; } */

.mobile-loan-button { background-color:#fff!important; height: 50px!important; padding-top: 20px; padding-bottom: 20px; padding-left: 25%; padding-right: 25%; border-radius: 25px; }


.mobile-loan-text { color: #fff!important; font-weight: 400!important; font-size: 14px; }
.mobile-loan-text a { color: #fff!important; font-weight: 400!important; font-size: 14px; text-decoration: none!important; }

/* CONTACT FORM 7 RESPONSIVE */

.one-half,
.one-third {
    position: relative;
    margin-right: 4%;
    float: left;
        margin-bottom: 5px;
 
}
 
.one-half { width: 48%; }
.one-third { width: 30.66%; }
 
.last {
    margin-right: 0 !important;
    clear: right;
}
 
@media only screen and (max-width: 767px) {
    .one-half, .one-third {
        width: 100%;
        margin-right: 0;
    }
}


/* TOP BAR CHANGES KILL FOR MOBILE */
@media (max-width:1280px) { 
	
	.top-bar-home { display:none; } 
	#header.sticky-header .header-main.sticky { margin-top:0px!important; display:none!important; }
	#header .header-main .container #main-menu { display: none!important; } 
	
	body.herobro_header #header .header-main, body.home #header .header-main { margin-top:0px!important; } 
	.fixed-header #header { display: none!important; } 

}



/* FOOTER CHANGES */
span.call-2 { font-weight: 400; }
span.call-1 { font-weight: 400; } 


/* PORTO MENU CHANGES */

li#nav-menu-item-38084 a, li#nav-menu-item-38085 a, li#nav-menu-item-38086 a, li#nav-menu-item-38104 a, li#nav-menu-item-38435 a { text-transform: capitalize!important;  font-weight: 400!important; font-size:16px!important; color: #fff!important; font-family: Lato; }
li#nav-menu-item-36880 a  { text-transform: uppercase!important; position: relative; top: -2px!important; color:#fff!important; font-family: Lato!important; letter-spacing:0.5px!important; font-size:13px!important; }
li#nav-menu-item-38104 a { padding-right: 15px!important; }
#main-menu .mega-menu .narrow .popup ul.sub-menu { margin-top: 20px; background-color: #fff; border-top-width:0px!important; padding-top: 15px; border-color: #3a6cb72b!important;  } 
#main-menu .mega-menu .narrow .popup ul.sub-menu a { color: #333333!important; padding-top: 12px!important; font-weight: 400!important;  text-transform: capitalize!important; } 
#header.header-corporate .mega-menu>li.has-sub>.popup>.inner>.sub-menu:before { display: none!important; } 
#main-menu .mega-menu .narrow .popup li.menu-item > a, #main-menu .mega-menu .narrow .popup li.menu-item > h5 { font-size: 14px!important; }
#main-menu .mega-menu .narrow .popup ul.sub-menu { background-color: #fff!important;  padding-bottom: 30px; border-bottom-left-radius: 7px!important; border-bottom-right-radius: 7px!important; box-shadow: 1px 1px 5px #2d2d2d73; }
#header.header-corporate .mega-menu .narrow .popup li.menu-item>a { padding-right: 30px!important; padding-left: 30px!important; font-size: 15px!important; }
#header.header-corporate .mega-menu>li:not(.has-sub)>a:hover:after { display: none!important; }
#main-menu .mega-menu .narrow .popup li.menu-item:hover > a, #main-menu .mega-menu .narrow .popup li.menu-item:hover > h5 { background-color: transparent!important; color: #8cc63f!important; }
#header.header-corporate .mega-menu>li.active>a:after { display:none!important; } 




/* UBER MENU CHANGES */
.ubermenu.ubermenu-main.ubermenu-horizontal .ubermenu-item-level-0.ubermenu-active > .ubermenu-submenu-drop, .ubermenu.ubermenu-main.ubermenu-horizontal:not(.ubermenu-transition-shift) .ubermenu-item-level-0 > .ubermenu-submenu-drop { margin-top: 21px!important; } 
.ubermenu.ubermenu-disable-submenu-scroll .ubermenu-item>.ubermenu-submenu.ubermenu-submenu-type-mega { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

/* .ubermenu-submenu  { background-color:red!important; } */


/* FOOTER TEMPORARY CHANGE */
#footer { background-color: #f7f7f7!important; }
#footer .list.list-icons a { color: #6d6f7b; }
.footer-top { background-color: #f7f7f7!important; }
.list.list-icons li .fa { color:#2997f7 !important; } 
#footer h6 { color: #6d6d7b!important; font-weight: 500!important; }
#footer p { color: #6d6f7b!important; } 
#footer a { color: #6d6f7b!important; } 
.vc_custom_1535644851887 { background-color: rgba(148, 148, 148, 0.08) !important; } 
#footer .aio-icon-component i, #footer .align-icon i { color: #828282 !important; }

/* CHANGE CAROUSEL DOT COLOR */
.slick-slider .slick-dots li.slick-active i, .slick-slider .slick-dots li:hover i { color: #2997f7 !important; }

/*REMOVE RANDOM BUTTON MENU SHADOW */
html .btn-primary { text-shadow: none!important; } 

/* MOBILE MENU */

.taptap-by-bonfire ul li { text-align: left!important; }
.taptap-by-bonfire .menu li span { padding-top: 11px; } 
.taptap-sub-arrow-inner::before { left: 14px!important; top: 9px!important; }
.taptap-sub-arrow-inner::after { left: 14px!important; top: 15px!important; transform: rotate(135deg)!important; }
span.taptap-submenu-active { display:none; }
.taptap-by-bonfire .sub-menu li.menu-item-has-children span { display: none; } 


/* TEMPORARY GLOBAL BANDAIDS */
.header-change .small-title-desktop { font-weight: 100; }
.snip1562 { margin-top: 1em!important; } 

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li { margin-bottom:0px!important; } 
.business-owner-btn { padding-bottom: 3.75em!important; } 
#annualRevenue { padding-bottom: 3.75em!important; }
#leadInfo { padding-bottom: 3.75em!important; } 
.small-title-mobile { padding-bottom: 30px!important; } 

#header .logo a, body.herobro_header #header .logo a, body.herobro_header #header.sticky-header .logo a, body.home #header .logo a, body.home #header.sticky-header .logo a { background-size: 220px 24px!important; }



h1 .main-title { font-weight: 600!important; } 

@media (min-width:995px) and (max-width:1280px) {
	
		.image-block { display:block; margin-left: auto; margin-right: auto; max-width: 37.5em; max-height: 18.75em; margin-top: 4em; margin-bottom: 4em; } 
}


@media (min-width:320px) and (max-width:480px) {
	.why-table { display:none; }
	.smile_icon_list.ic-resp-img li .icon_list_icon { z-index:1; } 
	.smile_icon_list.left li.ult-info-circle-img .icon_list_connector { z-index:0; }
	
	.content p { font:300 16px/1.7 Lato,arial,sans-serif; margin-left: 1.5em; margin-right: 1.5em; line-height:1.6em!important; }
	
	
	
.vc_row.vc_row-flex>.vc_column_container { padding-left:0px!important; padding-right:0px!important;  }
	.vc_row.wpb_row.vc_row-no-padding .vc_column_container { padding-left:0px!important; padding-right:0px!important; }
	.image-block { margin-left: 1.5em; margin-right: 1.5em; } 
	h2 { font-size: 20px!important; line-height: 30px; padding-left:1em; padding-right:1em; text-align:center!important; }
	
	

}


/* JASON EDITS */
li#menu-item-29329 a, li#menu-item-29330 a, li#menu-item-29320 a, li#menu-item-29238 a, li#menu-item-38068 a { font-weight: 400!important; text-transform: capitalize; } 



#header .logo a,body.herobro_header #header.sticky-header .logo a,body.home #header.sticky-header .logo a{
    background-image:url(/wp-content/uploads/2016/10/fc360white.png)
}


.unorderlist {
    list-style: circle;
    margin: 10px 40px;
}

::placeholder {
    color: #999!important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #999!important;
}

::-ms-input-placeholder {
    color: #999!important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea {
        font-size: 1em!important;
    }
}

@media (max-width:992px) {
    .small-title-desktop-sub {
        display: none;
    }
}

@media (min-width:1281px) {
	
	.taptap-header { display: none; } 
	.taptap-logo-image img { display: none; } 
	.taptap-main-menu-button { display: none; } 
.fixed-header #header { margin-bottom: -120px!important; } 

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_section.vc_section-has-fill, .vc_section.vc_section-has-fill+.vc_row-full-width+.vc_section, .vc_section.vc_section-has-fill+.vc_section { padding-top: 0; }


    #amountSeeking .small-title-desktop {
        text-align: left!important;
        line-height: 1.2em;
    }
    #amountSeeking .small-title-frontpage {
        font-family: 'Roboto Slab', serif;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
    #footer-mobile {
        display: none;
    }
    .nowrap {
        white-space: nowrap;
    }
    .footer h4 {
        font-family: Lato, sans-serif;
        font-weight: 400!important;
        color: #fff;
        line-height: 1.688em;
    }
    #footer h6 {
        font-weight: 600!important;
		text-transform: uppercase;
		font-size: 14px!important; 
		padding-bottom: 6px; 
    }
    #footer .list.list-icons li {
        padding-left: 0px!important; 
    }
	
	#footer .list.list-icons li .fa { display: none; } 
	
	
    #footer .list.list-icons {
        font-size: .938em!important;
    }
    #footer .list.list-icons a {
        font-weight: 400!important;
    }
    .link-normal {
        font-weight: 400!important;
    }
    #highlight,
    .aio-icon-header {
        font-weight: 600;
        text-transform: uppercase;
        color: #1075bb;
    }
    .ssl img {
        margin-top: -10px;
        max-width: 70%
    }
    #footer .wpb_content_element {
        margin-bottom: 35px;
    }
    #footer h6 {
        font-size: 1em;
        letter-spacing: .01em;
        margin-bottom: -.4em;
    }
    #social img {
        margin-left: .8em!important;
    }
    .fixed-header #header {
        margin-top: -6.25em!important;
    }
    .main-title {
        margin-top: 25px;
		font-weight: 325!important;
    }
    .top-bar-home {
        background-color: #203158!important;
    }
    #header.sticky-header .header-main,
    .fixed-header {
        background-color: transparent!important;
    }
    #header .header-main,
    #header.sticky-header .navbarscrolled {
        background-color: #307fd7!important;
    }
    .ubermenu-main .ubermenu-item-level-0>.ubermenu-target {
        padding-top: .6em;
    }
    #highlight {
        font-size: 1.063em;
    }
    .aio-icon-header {
        font-size: .75em;
    }
    #main-section-sub {
        background: url(img/bg2.jpg);
        background-size: cover;
        padding-bottom: 6.25em;
    }
    #main-section-sub .main-title {
        padding-top: 2.5em;
    }
    .container {
        width: 80%!important;
    }
    .col-md-6 {
        width: 49.8%!important;
    }
    .trust-factor {
        padding-left: 32px!important;
    }
    .header-change .amount-form-field {
        max-width: 65%!important;
        font-size: .875em!important;
    }
    .header-change #amountSeeking .container {
        width: 33%;
    }
    .header-change .small-title-desktop {
        position: absolute;
        margin-top: 120px;
        padding-left: 1.5%;
        max-width: 32em;
    }
    .header-change .main-title {
        position: absolute;
        margin-top: 60px;
        padding-left: 1.5%;
    }
    .header-change .form-container {
        height: 120px;
    }
    .header-change .col-md-12 .form-wrapper {
        margin-left: 43.75em;
        border-radius: 15px;
        padding-top: 4.375em;
        margin-bottom: 0;
    }
    .header-change .cold-md-8 .col-sm-test .field-wrapper {
        margin-top: 3.75em;
    }
    .header-change .small-title-desktop-sub {
        font-family: 'Roboto Slab', serif;
        color: #FFF;
        font-size: 1em;
        position: relative;
        white-space: nowrap;
        margin-left: 9%;
        margin-top: 20px;
    }
    .header-change .btn-primary {
        margin-top: 5.25em!important;
        font-size: .75em!important;
    }
    #first-input {
        margin-top: 1.2em;
        margin-left: -42%;
    }
    #form-background {
        position: absolute;
        top: 9.375em;
        height: 150px;
        width: 31.5%;
        border-radius: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: 48%;
        margin-top: -15px;
        background-color: #fff1;
    }
    #link-change a {
        font-weight: 400!important;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    h1 {
        font-size: 2em!important;
	
    }
    .main-title-bottom {
        font-size: 30px;
        font-family: 'Roboto Slab', serif;
        color: #fff;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px!important;
    }
    article a {
        color: #1979e0!important;
        font-weight: 500!important;
    }

}

@media (min-width:995px) and (max-width:1280px) {

.main-title-bottom{
    font-size:30px;
    font-family: 'Roboto Slab', serif;
    color:#FFF;
    text-align:center;
    font-weight:bold;
    margin-bottom:10px !important;
  }


    #amountSeeking .small-title-frontpage {
        font-family: 'Roboto Slab', serif;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }
    #footer-mobile {
        display: none;
    }
    .footer h4 {
        font-family: Lato, sans-serif;
        font-weight: 400!important;
        color: #fff;
        line-height: 27px;
    }
    #footer h6 {
        font-weight: 600!important;
    }
    .list.list-icons li {
        padding-left: .938em!important;
    }
    #footer .list.list-icons {
        font-size: .938em!important;
    }
    #footer .list.list-icons a {
        font-weight: 400!important;
    }
    .link-normal {
        font-weight: 400!important;
    }
    #highlight,
    .aio-icon-header {
        font-weight: 600;
        text-transform: uppercase;
        color: #1075bb;
    }
    .ssl img {
        margin-top: -.625em;
        max-width: 70%
    }
    #footer .wpb_content_element {
        margin-bottom: 2.188em;
    }
    #footer h6 {
        font-size: 1em;
        letter-spacing: .01em;
        margin-bottom: -.4em;
        white-space: nowrap;
    }
    #social img {
        margin-left: .8em!important;
    }
    #footer a {
        font-size: .9em!important;
    }
    .header-change .btn-primary {
        font-size: .7em;
    }
    #highlight {
        font-size: 1.063em;
    }
    .aio-icon-header {
        font-size: .75em;
    }
    #main-section-sub {
        background: url(img/bg2.jpg);
        background-size: cover;
        padding-bottom: 6.25em;
    }
    #main-section-sub .main-title {
        padding-top: 2.5em;
    }
    .col-md-6 {
        width: 49.8%!important;
    }
    .trust-factor {
        padding-left: 32px!important;
    }
    .header-change .amount-form-field {
        max-width: 65%!important;
        font-size: .875em!important;
    }
    .header-change #amountSeeking .container {
        width: 33%;
    }
    .header-change .small-title-desktop {
        position: absolute;
        margin-top: 120px;
        padding-left: 1.5%;
        font-size: .9em;
    }
    .header-change .main-title {
        position: absolute;
        margin-top: 60px;
        padding-left: 1.5%;
    }
    .header-change .form-container {
        height: 7.5em;
    }
    .header-change .col-md-12 .form-wrapper {
        margin-left: 43.75em;
        border-radius: 15px;
        padding-top: 70px;
        margin-bottom: 0;
    }
    .header-change .cold-md-8 .col-sm-test .field-wrapper {
        margin-top: 60px;
    }
    .header-change .small-title-desktop-sub {
        font-family: 'Roboto Slab', serif;
        color: #FFF;
        text-align: center;
        font-size: 1em;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 5.5%;
        margin-top: 20px;
    }
    #first-input,
    .header-change .btn-primary {
        margin-top: 60px;
    }
    #first-input {
        margin-left: -9.375em;
    }
    #form-background {
        position: absolute;
        top: 9.375em;
        height: 9.375em;
        width: 28.125em;
        border-radius: 15px;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-left: 51%;
        margin-top: -0.938em;
        background-color: #fff1;
    }
    #link-change a {
        font-weight: 400!important;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    h1 {
        font-size: 2em!important;
    }

    #amountSeeking-bottom .form-container {
        margin-left: 0!important;
    }
    article a {
        color: #1979e0!important;
        font-weight: 500!important;
    }
    .fixed-header #header {
        margin-top: -6.25em!important;
    }
    .main-title {
        margin-top: 25px;
        font-size: 1.6em!important;
    }
    .top-bar-home {
        background-color: #203158!important;
    }
    #header.sticky-header .header-main,
    .fixed-header {
        background-color: transparent!important;
    }
    #header .header-main,
    #header.sticky-header .navbarscrolled {
        background-color: #307fd7!important;
    }
    .ubermenu-main .ubermenu-item-level-0>.ubermenu-target {
        padding-top: .6em;
    }
}

@media (min-width:481px) and (max-width:994px) {


    #amountSeeking .small-title-frontpage,
    #amountSeeking-bottom .small-title-mobile,
    #footer-desktop,
    #footer-desktop-copyright,
    #footer-newsletter,
    .header-change .small-title-desktop-sub {
        display: none;
    }
    #footer a,
    .nowrap {
        white-space: nowrap;
    }
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea {
        font-size: 16px!important;
    }
    .image-block {
        height: 18em;
    }
    .fixed-header #header {
            background-color: transparent!important;
        border-bottom: 1px solid #13131321;
margin-top: -83px!important; 
    }
    #amountSeeking-bottom .main-title-bottom {
        font-size: 30px;
        font-family: 'Roboto Slab', serif;
        color: #FFF;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px!important;
    }
    #amountSeeking-bottom input[type=text],
    input[type=number],
    input[type=tel],
    textarea {
        font-size: 16px!important;
    }
    #footer .wpb_button,
    .wpb_content_element,
    ul.wpb_thumbnails-fluid>li {
        margin-bottom: 15px;
    }
    #footer .list.list-icons li {
        padding-left: 10px;
    }
    .aio-icon.none,
    .resources-mobile .list.list-icons li {
        padding-left: 0!important;
    }
    #footer h6 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600!important;
    }
    #footer a {
        overflow: hidden;
        font-weight: 400!important;
        font-size: 14px;
    }
    .aio-icon.none {
        margin-left: 0!important;
    }
    #social img {
        margin-left: .8em;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    h1 {
        text-align: center!important;
    }
    h3 {
        font-size: 1.6em!important;
        text-align: center;
    }
    .content p {
        margin-left: -2em;
        margin-right: -2em;
        line-height: 1.6em!important;
    }
    article a {
        color: #1979e0!important;
        font-weight: 500!important;
    }
    .top-bar-home {
        background-color: #203158!important;
    }
    #header.sticky-header .header-main,
    .fixed-header {
        background-color: transparent!important;
    }
    #header .header-main,
    #header.sticky-header .navbarscrolled {
        background-color: #307fd7!important;
    }



}

@media (min-width:320px) and (max-width:480px) {
    #amountSeeking .small-title-frontpage,
    #amountSeeking-bottom .small-title-mobile,
    #footer-desktop,
    #footer-desktop-copyright,
    #footer-newsletter,
    .header-change .small-title-desktop-sub {
        display: none;
    }
    #footer a,
    .nowrap {
        white-space: nowrap;
    }
    input[type=color],
    input[type=date],
    input[type=datetime-local],
    input[type=datetime],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week],
    select,
    textarea {
        font-size: 16px!important;
    }
    .image-block {
        height: 18em;
    }
    .fixed-header #header {
        background: 0 0!important;
        border-bottom: 1px solid #13131321;
    }
    #amountSeeking-bottom .main-title-bottom {
        font-size: 30px;
        font-family: 'Roboto Slab', serif;
        color: #FFF;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px!important;
    }
    #amountSeeking-bottom input[type=text],
    input[type=number],
    input[type=tel],
    textarea {
        font-size: 16px!important;
    }
    #footer .wpb_button,
    .wpb_content_element,
    ul.wpb_thumbnails-fluid>li {
        margin-bottom: 15px;
    }
    #footer .list.list-icons li {
        padding-left: 10px;
    }
    .aio-icon.none,
    .resources-mobile .list.list-icons li {
        padding-left: 0!important;
    }
    #footer h6 {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600!important;
    }
    #footer a {
        overflow: hidden;
        font-weight: 400!important;
        font-size: 14px;
    }
    .aio-icon.none {
        margin-left: 0!important;
    }
    #social img {
        margin-left: .8em;
    }
    .wpb_content_element {
        margin-bottom: 0;
    }
    h1 {
        text-align: center!important;
    }
    h3 {
        font-size: 1.6em!important;
        text-align: center;
    }

    article a {
        color: #1979e0!important;
        font-weight: 500!important;
    }
}

