.qual-cta{
	padding-bottom:0px !important;
}

.qual-top-row{
	padding-bottom:0px !important;
}

.purpose-tile{
	width:100% !important;
}

.why-bottom{
	padding-bottom:40px;
}

.why-bottom-row{
	padding-top:30px;
}

.purpose-text p{
	text-align: center; font-size: 18px; line-height: 40px;
}

@media all and (max-width: 600px) { 
}

@media all and (max-width: 783px) { 

.why-transparent{
	margin-top:40px !important;
}

#footer-mobile ul{
	margin-left:0px !important;
	margin-right:0px !important;
}

.why-table{
	display:none !important;
}

.why-title-mob{

	margin-top:30px;
}
.why-bottom-row{
	padding-top:-30px !important;
}
.why-bottom{
	display:none!important;
}

.qual-text{
	text-align:center !important;
}


#why-qual{
	text-align:center !important;
}


.why-fc-title{
	padding-bottom:10px !important;
}
.mobile-padding-fix{
	margin-left:10px !important;
	margin-right:10px !important;
    margin-top: 0px !important;
}
.vc_custom_1535137835657{
	padding-bottom:0px !important;
}

.qual-apply-sep{
	padding-top:10px !important;
}
#qual-mac{
	display:none;
}

#qual-apply{
	padding-top:20px;
}


.company-image{
	margin-top:20px !important;
}

.purpose-text p{
	font-size: 16px !important;
    line-height: 30px !important;

}

#info-circle-wrapper-5b84169e9028b{
		margin-top:20px !important;
	}

	.homepage-empty{
		height:20px !important;
	}

}




@media (min-width:320px) and (max-width:480px) {

	#footer-mobile ul{
	margin-left:0px !important;
	margin-right:0px !important;
}


.fees-text{
	text-align:center !important;
}

	.wpb_text_column ul { margin-right: 2em!important; margin-left: 2em!important; } 

	.purpose-text p{
		margin-right:0px !important;
		margin-left:0px !important;
		font-size: 16px !important;
    line-height: 30px !important;
	}

	.page-id-25574 .wpb_text_column p {
	margin-left:0px !important;
	margin-right:0px !important;
}

.taking-funds-img{
	padding-bottom:20px;
}

#info-circle-wrapper-5b84169e9028b{
		margin-top:20px !important;
	}
}

