.center-image{
  display:block;
  margin:0 auto
}

.mobile-item{
  display:none;
}


.navigation-section{
  position:fixed;
  z-index:9009;
  width:100%;
}

.approval-style{
  margin-bottom:15px !important;
}

#rocket{
  width:100px;
}

#store-front{
  width:100px;
}

.small-title-mobile{
  display:none;
}

#fc-logo img{
  width:250px;
 }

#top-bar{
  width:100%;
  margin-top: -100px;
  z-index:9009;
}

#phone a:hover{
  color:#8CC63F;
}

.navbar-styles{
  width:100%;
  z-index:9009;
}

.form-validation{
  border-radius:5px;
  text-align:center;
  max-width:450px;
  width:100%;
  display:block;
  margin:0 auto;
  margin-bottom:10px;
  padding:10px;
}
.recipe-title{
  display:none;
}

.recipe-icon{
  display:none;
}
.title3-underline{
  display:none;
  margin:20px auto;
  height:1px;
  background:#fff;
  width:50%;
}

.title4-underline{
  display:none;
  margin:20px auto;
  height:1px;
  background:#203158;
  width:50%;
}

.title2-underline{
  display:block;
  margin:20px auto;
  height:1px;
  background:#fff;
  width:50%;
}
#why-fc360{
  background:#203158;
  color:#FFF;
  padding:70px 0;
}

.why-title{
  font-size: 30px;
    color: #ffffff;
    line-height: normal;
    text-align: center;
    margin-bottom:15px;
    font-family: 'Roboto Slab', serif;
}

.why-subtext{
  color:#FFF;
  text-align:center;
  margin-bottom:50px;
  font-family: 'Roboto Slab', serif;
}

.why-icon-title{
  font-weight: 600;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top:15px;
    font-family: 'Roboto Slab', serif;
}
.why-decription{
  text-align:center;
  margin-top:10px;
}

.how-title{
  font-size: 30px;
    color: #203158;
    line-height: normal;
    text-align: center;
    margin-bottom:15px;
    font-weight:bold;
    font-family: 'Roboto Slab', serif;
}

.how-subtext{
  color:#203158;
  text-align:center;
  margin-bottom:50px;
  font-weight:bold;
  font-size:20px;
  font-family: 'Roboto Slab', serif;
}

#how-works{
  padding:70px 0;
  background:#FFF;
  color:#203158;
}

.how-icon-title{
  font-size:16px;
  color:#203158;
  text-align:center;
  font-weight:bold;
  margin-top:20px;
  font-family: 'Roboto Slab', serif;
}

.how-decription{
  text-align:center;
  margin-top:10px;
  color:#203158;
  font-family: 'Roboto Slab', serif;
}

.form-control::-webkit-input-placeholder { color: #000; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #000; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #000; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #000; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #000; }  /* Microsoft Edge */

.top-bar-phone{
  color:#FFF;
  font-size:14.5px;
  float:right;
}
.top-bar-text{
  color:#FFF;
  font-size:13px;
  padding-left: 10px;
}

.top-bar-text a:hover {
  color:#FFF;
}
#top-bar{
  padding:10px;
  background:#333;
}

.title-underline{
  display:block;
  margin:0 auto;
  background:#8CC63F;
  height:5px;
  width:200px;
  margin-top:20px;
  margin-bottom:10px;
}
.navbar-styles{
  background: #203158;
    padding: 10px 0px;
    -webkit-box-shadow: 0px 10px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 10px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 10px 7px 0px rgba(0,0,0,0.2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
    #main-section{
      padding-bottom:20px;
    }
  .business-owner-btn{
    padding:50px;
    color:#FFF;
  }

  .personal-btn{
    background:transparent;
    color:#FFF;
    border-radius:10px;
    padding:15px 2px;
    display:block;
    margin:0 auto;
    transition: all 0.5s ease;
    text-align:center;
    font-size: 20px;
      font-weight: bold;
      border:2px solid white;
      max-width:300px;
      width:100%;
      font-family: 'Roboto Slab', serif;
  }

  .timeinbusiness-btn{
    background:transparent;
    color:#FFF;
    border-radius:10px;
    padding: 15px 0px;
    display:block;
    margin:0 auto;
    transition: all 0.5s ease;
    text-align:center;
    font-size: 23px;
      font-weight: bold;
      border:4px solid white;
      max-width:300px;
      width:100%;
  }

  .timeinbusiness-btn:hover{
    background:#8CC63F;
    cursor:pointer;
  }

  .personal-btn:hover{
    background:#8CC63F;
    cursor:pointer;
  }

  .amount-btn{
    padding:25px;
    color:#FFF;
    padding-top:10px;
  }

  .hide{
    display:none;
    
  }

  .btn-title{
    font-weight: bold;
      font-size: 20px;
      padding-top: 20px;
  }

  #businessOwner{
    transition: all 0.5s ease;
  }

  #amountSeeking{
    transition: all 0.5s ease;
  }

  .progress-bar-container{
        background: #ddd;
        padding-left: 0px;
        border-radius: 6px;
        transition: all 0.5s ease;
        width:30%;
        float:right;
        margin-top:15px;
  }

  .stepTitle{
    font-size:25px;
    font-family: 'Roboto Slab', serif;
    color:#FFF;
    text-align:center;
    margin-top:10px;
    font-weight:400;
    margin-bottom:30px;
    line-height:30px;
  }

  .small-title-desktop{
    font-family: 'Roboto Slab', serif;
    color:#FFF;
    text-align:center;
    font-size:20px;
  }

  .main-title{
    font-size:30px;
    font-family: 'Roboto Slab', serif;
    color:#FFF;
    text-align:center;
    font-weight:bold;
  }
    .stepSubText{
    font-size:20px;
    font-family: 'Roboto Slab', serif;
    color:#FFF;
    text-align:center;
    margin-top:10px;
    margin-bottom:30px;
  }

  ::selection {
    color: white;
    background: #8CC63F;
}

 .leadInfo-field{
  max-width: 450px;
  width: 100%;
    display: block;
    margin: 0 auto;
    height:40px;
 }

 .submitBtn{
  max-width:450px;
  width:100%;
  display:block;
  margin:0 auto;
  height:50px;
  color:#FFF;
  font-weight:bold;
  padding-top: 10px;
    font-size: 20px;
    background-image: linear-gradient(to bottom,#8CC63F 0,#77a934 100%) !important;
 }
  .submitBtn:hover{
        background-image: linear-gradient(to bottom,#77a934 0,#8CC63F 100%) !important;
        color:#fff;
 }

.amount-field{
  max-width:600px;
  width:100%;
  display:block;
  margin:0 auto;
  padding:10px;
  border-radius:20px;
  border:none;
  margin-top:20px;
  margin-bottom:20px;
}

/*LOADING SCREEN*/

#loadingScreen{
  transition: all 0.5s ease;
}

#leadInfo{
  transition: all 0.5s ease;
}

.loading-bro {
  margin: 50px auto;
  width: 150px;
}

#load {
  width: 150px;
  animation: loading 3s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #8CC63F;
  fill: transparent;
}

.cta{
  color:#FFF;
  float:right;
  font-size:22px;
  font-weight:bold;
  margin-top:5px;
}

.progress-container{
  float:right;
  color:#333;
  width:30%;
  padding:5px;
  margin-top:10px;
  height:10px;
}

.progress-step{
  background:#ddd;
  margin: 1px;
  width: 21%;
  border-radius: 2px;
  height:20px;
}

.progress-step-complete{
  background:#8CC63F;
}

.progress-step-complete {
  animation: pulse 1.0s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}

@keyframes pulse {
  0% {
    background-color: #8CC63F;
  }
  100% {
    background-color: #6e9a33;
  }
}

@media all and (max-width: 1215px) { 

#hearfrom{
  display:none;
 }

 #stars{
  display:none;
 }

 #inc500{
  float:left;
 }
}

@media all and (max-width: 1006px) { 

}



@media all and (max-width: 990px) {

  .desktop-item{
    display:none;
  }

  .mobile-item{
    display:block;
  }

  .business-owner-btn{
    padding:10px;
  }

  .timeinbusiness-btn{
    border: 2px solid white;
  }

  #rocket{
  width:60px;
}

#store-front{
  width:60px;
}

#main-section{
  padding-top:40px;
}
 .personal-btn{
  font-size:15px;
  line-height:20px;
  min-width:100%;
  
}

.small-title-mobile{
  display:block;
}

.progress-step{
  height:10px;
}


.timeinbusiness-btn{
  margin:0 auto !important;
}

.navbar-brand{
  display:block;
  margin:0 auto;
  float:none;
}

 .progress-bar-container{
  clear:both;
  margin:0 auto;
  display:block;
  float:none;
  width:70%;
 }

 #fc-logo{
  clear:both;
  margin:0 auto;
  display:block;
  float:none;
 }

 #fc-logo img{
  clear:both;
  margin:0 auto;
  display:block;
  float:none;
  width:175px;
 }

 #inc500{
  display:none;
 }

 #phone{
  text-align:center;
  float:none;
 }

 .main-title{
  line-height:30px;
  font-weight:400;
  font-size: 27px;
 }

 .small-title-desktop{
  display:none;
 }


.small-title-mobile{
  font-size:15px;
  margin-top:10px;
  font-family: 'Roboto Slab', serif;
  color:#FFF;
  text-align:center;
  font-style:italic;
}

.title2-underline{
  margin: 10px auto 0px;
  width:90%;
  height:3px;
  background:#8CC63F;
}

.title3-underline{
  display:block;
}

.title4-underline{
  display:block;
}

.how-icon-title{
  font-size:20px;
}

.why-icon-title{
  font-size:20px;
}

.recipe-title{
  display:none;
}

.recipe-icon{
  display:none;
}
.progress-container{
  float:none;
  width:70%;
  margin-top:-10px;
 }

 .progress-step{
  width:24%;
 }

.timeinbusiness-btn:hover{
    background:transparent;
  }

  .personal-btn:hover{
    background:transparent;
  }

  #top-bar{
    margin-top:-120px;
  }

  #main-section{
    margin-top:120px;
  }

  .stepTitle{
    font-size:16px;
    margin-bottom: 20px;
  }

  .amount-btn{
    padding: 10px 10px;
  }

.btn-title{
  font-size:15px;
  padding-top:10px;
}

input[type='text'],
input[type='number'],
input[type='tel'],
textarea {
  font-size: 16px;
}

.approval-style{
  margin-bottom:2px;
  margin-top:0px;
  font-size:15px;
  line-height:20px;
}

}
