/*

 Theme Name:   Porto Child

 Theme URI:    http://example.com/twenty-fifteen-child/

 Description:  Porto Child Theme

 Author:       John Doe

 Author URI:   http://example.com

 Template:     porto

 Version:      1.0.0

 License:      GNU General Public License v2 or later

 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready

 Text Domain:  porto

*/

@import url(../porto/style.css);.number-points,.protosteps{line-height:35px;font-weight:700}.apex-powerdby,.apexchat_poweredby{display:none!important}.ubermenu-submenu{position:relative}.ubermenu-submenu:after,.ubermenu-submenu:before{bottom:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}.ubermenu-submenu:after{border-color:rgba(255,255,255,0);border-bottom-color:#fff;border-width:19px;left:50%;margin-left:-19px}.ubermenu-submenu:before{border-color:rgba(113,158,206,0);border-bottom-color:#719ECE;border-width:20px;left:50%;margin-left:-20px}body.herobro_header #header .header-main,body.home #header .header-main{background-image:none!important}@media (max-width: 768px){body.herobro_header #header .header-main, body.home #header .header-main{margin-top: 50px;}}@media (max-width: 425px){body.herobro_header #header .header-main, body.home #header .header-main{margin-top:0;}}#main-menu .mega-menu>li.menu-item>h5,body.herobro_header #main-menu .mega-menu>li.menu-item>a,body.home #main-menu .mega-menu>li.menu-item>a{color:#fff}body.herobro_header #header.sticky-header #main-menu .mega-menu>li.menu-item>a,body.home #header.sticky-header #main-menu .mega-menu>li.menu-item>a,body.home #header.sticky-header #main-menu .mega-menu>li.menu-item>h5{color:#1e73be}#main-menu .mega-menu .vc_btn3:hover a{color:#fff!important}body.herobro_header #header.sticky-header #main-menu .mega-menu>li.lets_rock.menu-item>a:hover,body.home #header.sticky-header #main-menu .mega-menu>li.lets_rock.menu-item>a:hover{color:#fff}body.herobro_header #header.sticky-header .telephone-number,body.home #header.sticky-header .telephone-number{color:#7fb636;font-size:16px}#header .share-links{margin-left:0}.fixed-header #header{margin-top:-50px;opacity:100!important}body.herobro_header .lets_rock,body.herobro_header .lets_rock.active,body.home .lets_rock{border-color:#fff!important;color:#fff;border-width:1px!important;background:0 0!important}body.herobro_header #header.sticky-header .lets_rock,body.home #header.sticky-header .lets_rock{border-color:#8cc63f!important;color:#08c}body.herobro_header #header.sticky-header .lets_rock.active:hover,body.herobro_header #header.sticky-header .lets_rock:hover,body.home #header.sticky-header .lets_rock:hover{color:#fff!important;background:#1774bb!important}#header .logo a,body.herobro_header #header.sticky-header .logo a,body.home #header.sticky-header .logo a{background-image:url(/~dev/wp-content/uploads/2018/08/fastcapital360-logo-white.svg)}#header .logo a,body.herobro_header #header .logo a,body.herobro_header #header.sticky-header .logo a,body.home #header .logo a,body.home #header.sticky-header .logo a{background-position:0 10px;background-repeat:no-repeat;background-size:175px auto;display:block}body.herobro_header #header .lets_rock.active:hover a{color:#fff!important}#header .logo,#header.sticky-header .logo{min-width:250px!important; margin:0 10px;}#header .logo a img{width:0}#header .logo a{//background-image:url(img/360-logo.png);height:42px}.porto-concept strong{font-size:16px!important;font-family:inherit!important;font-weight:700}.protosteps,.protosteps span{font-family:open sans}.number-points{background:#08c;color:#fff;width:40px;height:40px;font-size:20px;text-align:center;position:absolute;border:2px solid #fff;z-index:1;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%}.porto-concept{background:url(img/concept.png) center center no-repeat!important}.porto-concept .process-image{background:url(img/concept-item.png) no-repeat!important}.porto-concept .project-image{background:url(img/concept-item.png) 100% 0 no-repeat}.protosteps{color:#1075bb;font-size:30px;left:235px;position:absolute;top:45px}.easysteps{padding-top:40px}.thumb-info{background:0 0}.lets_rick{margin:-5px 0!important}@media (max-width:767px){.alert-box{display:none!important}.porto-concept .process-image{margin-top:95px}.porto-concept .project-image{max-height:inherit;margin-top:95px}.protosteps{position:inherit;left:inherit;top:inherit;padding-top:50px;font-size:38px}.porto-concept{background:0 0!important}body .porto-concept .project-image{background:url(img/concept-item.png) no-repeat!important}.applyPage .vc_row.wpb_row .vc_col-sm-6:first-child,.applyPage .vc_row.wpb_row .vc_col-sm-6:last-child{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}.applyPage .vc_row.wpb_row .vc_col-sm-6+.vc_col-sm-6{margin-top:20px}}@media (min-width:768px) and (max-width:959px){.home-btn-one{font-size:12px!important}.flip-box-wrap .flip-box{min-height:355px;height:355px!important}.protosteps{top:0}.porto-concept strong{margin-top:3px}}.applyPage .vc_col-sm-6{min-height:391px}.applyPage .vc_col-sm-6 .aio-icon.circle{border-width:1px;border-style:solid;border-color:transparent}.applyPage .vc_col-sm-6:hover{background:#1774bb;color:#fff;cursor:pointer}.applyPage .vc_col-sm-6:hover .aio-icon-title{color:#fff}.applyPage .vc_col-sm-6:hover a{color:#8cc63f}.applyPage .vc_col-sm-6:hover .aio-icon.circle{border:1px solid #fff}.applyPage .vc_col-sm-6:hover .list.list-ordened li::before{border-color:#fff;color:#fff}#header.header-corporate .mega-menu>li.active>a:after,#header.header-corporate .mega-menu>li:not(.has-sub)>a:after{bottom:0;left:49%;border-bottom:2px solid #FFF;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);content:'';display:block;position:absolute}.applyPage .vc_col-sm-6:first-child{-webkit-border-top-left-radius:15px;-webkit-border-bottom-left-radius:15px;-moz-border-radius-topleft:15px;-moz-border-radius-bottomleft:15px;border-top-left-radius:15px;border-bottom-left-radius:15px}.applyPage .vc_col-sm-6:last-child{-webkit-border-top-right-radius:15px;-webkit-border-bottom-right-radius:15px;-moz-border-radius-topright:15px;-moz-border-radius-bottomright:15px;border-top-right-radius:15px;border-bottom-right-radius:15px}.applyPage .wpb_text_column{padding-right:15px}.content-grid.content-grid-dashed .option1::before{border-left:none!important}.main-content{padding-bottom:0!important}#footer .widget-title{font-weight:700!important}#header.header-corporate .header-main .header-container{padding-left:23px;padding-right:22px}#header.header-corporate .header-main .container .header-right-bottom{margin-top:0}#header.header-corporate .header-main .container .header-right{padding-left:31px}#header.header-corporate .mega-menu>li.menu-item>a,.mega-menu>li.menu-item>h5{padding:0;margin:8px 10px}#header.header-corporate .mega-menu>li:not(.has-sub)>a:after{width:0;transform:translateX(-50%);-webkit-transition:ease width .3s;-moz-transition:ease width .3s;transition:ease width .3s}#header.header-corporate .mega-menu>li:not(.has-sub)>a:hover:after{width:100%}#header.header-corporate .mega-menu>li.active>a:after{width:100%;transform:translateX(-50%);-webkit-transition:ease width .3s;-moz-transition:ease width .3s;transition:ease width .3s}#header.header-corporate .mega-menu>li.has-sub>.popup>.inner>.sub-menu:before{content:'';display:block;position:absolute;top:-5px;left:50%;width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #fff;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%)}#SOWidget,.porto-concept .cloud,.porto-concept .sun{display:none}#header.header-corporate .mega-menu>li.has-sub>.popup{top:initial;left:50%;opacity:0;visibility:hidden;-webkit-transform:translate3d(-50%,3%,0);-moz-transform:translate3d(-50%,3%,0);-ms-transform:translate3d(-50%,3%,0);-o-transform:translate3d(-50%,3%,0);transform:translate3d(-50%,3%,0);-webkit-transition:ease all .3s;-moz-transition:ease all .3s;transition:ease all .3s}#header.header-corporate .mega-menu>li.has-sub:hover>.popup{visibility:visible;opacity:1;-webkit-transform:translate3d(-50%,0,0);-moz-transform:translate3d(-50%,0,0);-ms-transform:translate3d(-50%,0,0);-o-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);-webkit-transition:ease all .3s;-moz-transition:ease all .3s;transition:ease all .3s}#header.header-corporate .mega-menu .popup>.inner{margin-top:4px}#header.header-corporate .mega-menu .narrow .popup ul.sub-menu{min-width:200px}#header.header-corporate .mega-menu .narrow .popup li.menu-item>a{padding:8px 20px 8px 8px;border:none;line-height:15px}#header.header-corporate .mega-menu .narrow .popup li.menu-item-has-children>a:before,#header.header-corporate .mega-menu .narrow .popup li.menu-item-has-children>h5:before{content:"\f105"}h1.white-title{color:#fff}#nav-menu-item-24435 a{color:#7fb636;font-size:16px!important;padding-right:5px}.page-id-21283 .white-title-text,.page-id-24967 .white-title-text,.page-id-24976 .white-title-text,.page-id-25998 .white-title-text,.page-id-27253 .white-title-text,.page-id-28448 .white-title-text,.page-id-28653 .white-title-text{color:#FFF}#nav-menu-item-24436{margin-top:-5px!important}#block-widget-33,#follow-us-widget-2,#recent_posts-widget-2,#text-2,.twitter-tweets{background-color:#FFF;padding:10px 20px}.page-id-27253 .main-content,.page-id-28448 .main-content,.page-id-28843 .main-content{padding-top:0!important}.quickleads-form{background:#175bbb;border-radius:5px}.lead-input{width:100%!important;margin:0 auto 5px}.quicklead-btn{background:#ff6018!important;margin:0 auto}.page-id-28843 .white-title-text{color:#FFF;font-weight:700}.popover-field{width:100%}#menu-item-29240 a{font-size:22px}#menu-item-29240 a:hover,#menu-item-29241 a:hover{color:#fff}@media all and (max-width:959px){.mobile-toggle{display:none!important}}@media all and (max-width:783px){#myModal,.modal,.modal-backdrop{display:none!important}}.page-id-29327 .no-breadcrumbs .main-content,body.woocommerce .main-content{padding-top:0}.center-slider{text-align:center!important}.mailer-form{height:50px;width:230px!important;font-size:18px!important;border-radius:3px!important}.mailer-btn{background:#8CC63F;height:50px;color:#FFF;margin-left:10px!important;text-transform:uppercase}.page-title{display:none!important}@media screen and (max-width:767px){body.herobro_header #header .header-main,body.home #header .header-main{background-color:#fff}#main-menu{display:none!important}}#responsive-menu-container #responsive-menu-title #responsive-menu-title-image{width:75%}button#responsive-menu-button{margin-top:-4px!important}.entry-content ul li{list-style:disc;margin-left:35px}.cta-check-eligibility{text-align:center}.cta-check-eligibility a{border:1px solid #ff6018;background:#ff6018;border-radius:10px;padding:12px 45px;color:#fff}.cta-check-eligibility a:hover{text-decoration:none}.cta-text-eligibility{font-size:30px;font-weight:300}.snip1562,.snip1563{cursor:pointer;display:inline-block;font-family:BenchNine,Arial,sans-serif;line-height:1em;outline:0;text-transform:uppercase;font-weight:700}.fa-caret-right{color:#8cc63f}.snip1562,.snip1563,button.snip1562 a,button.snip1563 a{color:#fff}HTML CSS Result Edit on @import url(https://fonts.googleapis.com/css?family=BenchNine:700);button.snip1562{background-color:#ff6018!important}.snip1562{background-color:#8cc63f!important;border:none;font-size:1em;font-size:22px;margin:0 40px;padding:12px 40px 10px;position:relative}.snip1562:after,.snip1562:before{-webkit-transition:all .25s;transition:all .25s;border-style:solid;border-width:0;content:"";height:24px;position:absolute;width:24px}.snip1562:before{border-color:#8cc63f;border-left-width:2px;border-top-width:2px;left:-5px;top:-5px}.snip1562:after{border-bottom-width:2px;border-color:#8cc63f;border-right-width:2px;bottom:-5px;right:-5px}.snip1562.hover,.snip1562:hover{background-color:#8cc63f}.snip1562.hover:after,.snip1562.hover:before,.snip1562:hover:after,.snip1562:hover:before{height:100%;width:100%}button.snip1562 a:hover{text-decoration:none}.snip1563{background-color:#8cc63f!important;border:none;font-size:15px;position:relative!important}.snip1563 a:after,.snip1563 a:before{-webkit-transition:all .25s;transition:all .25s;border-style:solid;border-width:0;content:"";height:24px;position:absolute;width:24px}.snip1563 a:before{border-color:#8cc63f;border-left-width:2px;border-top-width:2px;left:-5px;top:-5px}.snip1563 a:after{border-bottom-width:2px;border-color:#8cc63f;border-right-width:2px;bottom:-5px;right:-5px}.snip1563.hover,.snip1563:hover{background-color:#8cc63f}.snip1563 a:hover:after,.snip1563 a:hover:before,.snip1563.hover:after,.snip1563.hover:before{height:100%;width:100%}button.snip1563 a:hover{text-decoration:none}@media screen and (max-width:1024px){.snip1562{padding:10px 20px!important}}@media screen and (max-width:414px){.alignleft,.alignright{float:none}}.leftsidecf input{margin-bottom:5px!important}.rightsidecf textarea{height:185px!important}.centersubmit{margin-top:15px!important}.centersubmit .wpcf7-submit{background:#8CC63F!important;border-color:#8CC63F!important;padding:0!important;line-height:20px!important;text-transform:uppercase!important;margin-left:15px!important;font-weight:400!important}.contactpagecf input{margin-bottom:8px} .unorderlist {list-style: circle;margin: 10px 40px;} .new-nav-button{    height: 40px !important;border-radius: 15px !important;padding: 1px 0px !important;background: #8CC63F !important;border: 1px solid #8CC63F !important;font-weight: bold !important;} .new-nav-button a {font-size: 14px!important;} .new-nav-button:hover {background: #77a934 !important;border: 1px solid #8CC63F !important;} .ubermenu.ubermenu-main .ubermenu-item-level-0:hover > .ubermenu-target .new-nav-button {color: #fff;} .new-nav-button a:hover{color:#FFF !important;} .new-nav-button-slider {    height: 42px !important;border-radius: 15px !important;padding: 1px 10px !important;background: #8CC63F !important;border: 1px solid #8CC63F !important;font-weight: bold !important;}

